# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.venv/
env/

# IDE specific files
.idea/
.vscode/

# Distribution / build files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*~